html {
  box-sizing: border-box;
  background-color: rgb(161, 144, 144);
}

table {
  color: pink;
}

thead, th {
  background-color: rgba(27, 27, 98, 0.289);
  border: solid 1px rgb(53, 75, 135);
}

tr td {
  
}